<launch>
    <!-- Turtlebot rviz -->
    <!-- Used for visualising the turtlebot while building a map or navigating with the ros navistack. -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz" output="screen" /> -->


    <!-- Autobot -->
    <node name="time_check" pkg="rob1514" type="time_check.py" args="10 20" output="screen" />
    <node name="qr_reporter" pkg="rob1514" type="qr_reporter.py" output="screen" />
    <node name="nav_to_point_server" pkg="rob1514" type="navigate_to_point.py" args="normal" output="screen" />
    <node name="point_feeder" pkg="rob1514" type="point_feeder.py" args="/home/qingqing/autobot/src/rob1514/launch/waypoints-sim.json 1" output="screen" />
</launch>
