<launch>
    <node name="speaker" pkg="rob1514" type="speaker.py" args="normal" output="screen" />
    <node name="qr0_reporter" pkg="rob1514" type="qr0_reporter.py" args="normal" output="screen" />
    <node name="qr1_reporter" pkg="rob1514" type="qr1_reporter.py" args="normal" output="screen" />
</launch>
